requests==2.32.3
# beautifulsoup4==4.12.3
# tenacity==9.0.0
python-dotenv==1.0.1
# anthropic==0.39.0
# APScheduler==3.10.4
# resend==2.4.0
structlog==24.4.0
pydantic_settings
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
# groq
streamlit